
<nav class="top-bar contain-to-grid show-for-small-only" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h2><a href="{{urls.base_path}}">{{data.title}}</a></h2>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">Menu</a>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"></li>
            <li class="has-dropdown">
                <a href="#">Rujukan</a>
                <ul class="dropdown">
                    <li>
                        <a rel="nofollow" href="{{urls.base_path}}rujukan">Rujukan Kerjaya</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="{{urls.base_path}}rujukan/separa-perubatan">Separa Perubatan</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
