
{{> navbar }}

<div class="columns sidebar hide-for-small-only large-2 medium-3">
    <div class="hide-for-small-only" id="header">
        <h2><a href="{{urls.base_path}}" rel="nofollow">{{{data.title}}}</a></h2>
        <div id="menu">
            <ul class="side-nav">
                <li class="active">
                    <a href="{{urls.base_path}}" rel="nofollow">Home</a>
                </li>
                <li>
                    <a href="{{urls.base_path}}rujukan" rel="nofollow">Rujukan</a>
                </li>
                <li>
                    <a href="{{urls.base_path}}temuduga" rel="nofollow">Temuduga</a>
                </li>
                <li>
                    <a href="{{urls.base_path}}resume" rel="nofollow">Resume</a>
                </li>
                <li>
                    <a href="{{urls.base_path}}pengumuman" rel="nofollow">Pengumuman</a>
                </li>
            </ul>
        </div>
    </div>
</div>