/* line 21, C:/Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
body {
  min-height: 100vh;
  font-size: 18px;
  line-height: 27px;
}

/* line 14, ../sass/style.scss */
.wrapper {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  /*background-image: url("/assets/images/bg.jpg");*/
  /*background-attachment: fixed;*/
  /*background-origin: border-box;*/
  /*background-position: top left;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 100%;
  width: 100%;
  box-sizing: content-box;
}

/* line 28, ../sass/style.scss */
.content-wrapper {
  min-height: 100vh;
}

/* line 32, ../sass/style.scss */
.sneakview {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
/* line 37, ../sass/style.scss */
.sneakview img {
  width: 100%;
  height: 100%;
}
/* line 41, ../sass/style.scss */
.sneakview .sneakview-meta {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  color: #fffff0;
  text-align: center;
  z-index: 1;
}
@media (max-width: 20em) {
  /* line 41, ../sass/style.scss */
  .sneakview .sneakview-meta {
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }
}
/* line 55, ../sass/style.scss */
.sneakview .sneakview-meta h2 {
  font-size: 2.4em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
@media (max-width: 20em) {
  /* line 55, ../sass/style.scss */
  .sneakview .sneakview-meta h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 20.0625em) and (max-width: 26.25em) {
  /* line 55, ../sass/style.scss */
  .sneakview .sneakview-meta h2 {
    font-size: 1.7em;
  }
}
@media (min-width: 26.3125em) and (max-width: 32.5em) {
  /* line 55, ../sass/style.scss */
  .sneakview .sneakview-meta h2 {
    font-size: 1.8em;
  }
}
@media (min-width: 32.5625em) and (max-width: 38.75em) {
  /* line 55, ../sass/style.scss */
  .sneakview .sneakview-meta h2 {
    font-size: 1.9em;
  }
}
@media (min-width: 38.8125em) and (max-width: 48em) {
  /* line 55, ../sass/style.scss */
  .sneakview .sneakview-meta h2 {
    font-size: 2.1em;
  }
}

/* line 80, ../sass/style.scss */
.sneakview:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  content: "";
  display: block;
}

/* line 90, ../sass/style.scss */
.menu-wrapper {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  background-color: #1B1C1D;
  text-align: center;
  margin-bottom: 0 !important;
}
/* line 96, ../sass/style.scss */
.menu-wrapper .menu-size {
  max-width: 800px;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

/* line 104, ../sass/style.scss */
.menu-wrapper > div > a > i,
.menu-wrapper > div > div > a {
  color: #dddddd !important;
}

/* line 109, ../sass/style.scss */
.menu-wrapper > div > a.item:hover,
.menu-wrapper > div > div > a.item:hover {
  border-bottom: 2px solid orange !important;
}

/* line 114, ../sass/style.scss */
.article-wrapper {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: calc(100vh - 141px);
  max-width: 600px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.69492%;
  padding-left: 1.69492%;
  padding-right: 1.69492%;
}
/* line 124, ../sass/style.scss */
.article-wrapper img {
  width: 100%;
}

/* line 128, ../sass/style.scss */
.article {
  padding-bottom: 1.69492%;
}

/* line 131, ../sass/style.scss */
.article-list {
  min-height: 1;
  background-color: #fffff0;
  border-radius: 5px;
}
/* line 135, ../sass/style.scss */
.article-list .entry {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
}
/* line 139, ../sass/style.scss */
.article-list .entry:after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 147, ../sass/style.scss */
.article-list .view {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 150, ../sass/style.scss */
.article-list .view a {
  display: block;
}
/* line 153, ../sass/style.scss */
.article-list .view a:hover {
  color: #005f81;
}
/* line 157, ../sass/style.scss */
.article-list .inner-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 163, ../sass/style.scss */
.article-meta {
  padding-left: 1.69492%;
  padding-right: 1.69492%;
}
/* line 166, ../sass/style.scss */
.article-meta .mylabel {
  text-transform: capitalize;
}

/* line 170, ../sass/style.scss */
.article-comment {
  padding-top: 1.69492%;
  padding-left: 1.69492%;
  padding-right: 1.69492%;
  padding-bottom: 3.44828%;
}

/* line 176, ../sass/style.scss */
.blog-nav-single {
  background-color: #fffff0 !important;
}

/* line 179, ../sass/style.scss */
.blog-nav a {
  display: block;
  color: #fffff0;
}

/* line 183, ../sass/style.scss */
.blog-paginator {
  text-align: center;
  display: block;
}

/* line 188, ../sass/style.scss */
.footer-wrapper {
  clear: both;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  color: #fffff0;
}
/* line 194, ../sass/style.scss */
.footer-wrapper .love {
  color: #C0392B;
}
