@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff; }
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5; }
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1; }
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none; }
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed; }
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul {
  list-style: disc;
  list-style-position: outside;
  margin: 1em 0 1em;
  padding: 0 2.5em 0 2.5em; }

ol {
  list-style-position: outside;
  margin: 1em 0 1em;
  padding: 0 2.5em 0 2.5em; }

dl {
  margin-bottom: 0.75em; }
dl dt {
  font-weight: 600;
  margin-top: 0.75em; }
dl dd {
  margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  margin: 0;
  padding: 0; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.375em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
a:active, a:focus, a:hover {
  color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.625rem; }

.right {
  float: right; }

.bold {
  font-weight: bold; }

blockquote {
  color: #999;
  background: #f9f9f9;
  border-left: 0.625em solid #eee;
  margin: 1em 0.625em;
  padding: 0.5em 0.625em;
  quotes: "“" "”" "‘" "’"; }
blockquote p:last-child {
  margin-bottom: 0; }

pre,
code {
  background: #f9f9f9;
  color: #999;
  border-left: 0.625em solid #eee;
  margin: 1.5em 0.625em;
  padding: 0.5em 0.625em;
  font-family: "Courier new", Courier, "Andale Mono", monospace;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  display: block; }
pre:before,
code:before {
  font-size: 1.2em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }
pre p:last-child,
code p:last-child {
  margin-bottom: 0; }

figure {
  margin: 1em 0;
  border-width: 0.0625em;
  border-style: solid;
  border-color: #eeeeee;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
  background-color: #eeeeee;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
figure figcaption {
  margin: 0;
  padding: 0 0.625em;
  text-align: center;
  font-size: smaller;
  font-style: italic; }
figure img {
  border-color: transparent;
  border-width: 0.0625em; }
figure p {
  margin-bottom: 0; }
figure h4 {
  margin: 0; }

img {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  border-width: 0.125em;
  border-color: #eeeeee;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em; }

.embed {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin: 1em 0; }
.embed embed,
.embed object,
.embed iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

label {
  font-size: small;
  font-weight: normal;
  background-color: #eeeeee;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
  padding: 0.2em 0.625em; }

ul {
  margin: 1em 0 1em 0; }

html {
  width: 100%;
  height: 100%; }

#ek .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
#ek .container .header {
  order: 1;
  max-height: 2.5em; }
#ek .container .content {
  order: 2;
  min-height: -webkit-calc(100vh - 5em);
  min-height: calc(100vh - 5em);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }
#ek .container .content .home,
#ek .container .content .section,
#ek .container .content .single,
#ek .container .content .terms {
  max-width: 64em;
  width: 100%;
  overflow-wrap: break-word;
  margin: 0 auto; }
#ek .container .content .home .main,
#ek .container .content .section .main,
#ek .container .content .single .main,
#ek .container .content .terms .main {
  order: 1;
  min-height: -webkit-calc(100vh - 5em);
  min-height: calc(100vh - 5em);
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
#ek .container .content .home .main:last-child,
#ek .container .content .section .main:last-child,
#ek .container .content .single .main:last-child,
#ek .container .content .terms .main:last-child {
  margin-right: 0; }
@media screen and (max-width: 767px) {
  #ek .container .content .home .main,
  #ek .container .content .section .main,
  #ek .container .content .single .main,
  #ek .container .content .terms .main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  #ek .container .content .home .main:last-child,
  #ek .container .content .section .main:last-child,
  #ek .container .content .single .main:last-child,
  #ek .container .content .terms .main:last-child {
    margin-right: 0; } }
#ek .container .content .home .main .main-wrapper,
#ek .container .content .section .main .main-wrapper,
#ek .container .content .single .main .main-wrapper,
#ek .container .content .terms .main .main-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
#ek .container .content .home .main .pagibar,
#ek .container .content .section .main .pagibar,
#ek .container .content .single .main .pagibar,
#ek .container .content .terms .main .pagibar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  height: 2.5em; }
#ek .container .content .home .main .pagibar .item,
#ek .container .content .section .main .pagibar .item,
#ek .container .content .single .main .pagibar .item,
#ek .container .content .terms .main .pagibar .item {
  text-align: center; }
#ek .container .content .home .main .pagibar .item:nth-child(1),
#ek .container .content .section .main .pagibar .item:nth-child(1),
#ek .container .content .single .main .pagibar .item:nth-child(1),
#ek .container .content .terms .main .pagibar .item:nth-child(1) {
  width: 20%; }
#ek .container .content .home .main .pagibar .item:nth-child(1):hover,
#ek .container .content .section .main .pagibar .item:nth-child(1):hover,
#ek .container .content .single .main .pagibar .item:nth-child(1):hover,
#ek .container .content .terms .main .pagibar .item:nth-child(1):hover {
  background-color: #d6d6d6; }
#ek .container .content .home .main .pagibar .item:nth-child(2),
#ek .container .content .section .main .pagibar .item:nth-child(2),
#ek .container .content .single .main .pagibar .item:nth-child(2),
#ek .container .content .terms .main .pagibar .item:nth-child(2) {
  width: 60%;
  border-left: 0.125em solid #fffff0;
  border-right: 0.125em solid #fffff0; }
#ek .container .content .home .main .pagibar .item:nth-child(3),
#ek .container .content .section .main .pagibar .item:nth-child(3),
#ek .container .content .single .main .pagibar .item:nth-child(3),
#ek .container .content .terms .main .pagibar .item:nth-child(3) {
  width: 20%; }
#ek .container .content .home .main .pagibar .item:nth-child(3):hover,
#ek .container .content .section .main .pagibar .item:nth-child(3):hover,
#ek .container .content .single .main .pagibar .item:nth-child(3):hover,
#ek .container .content .terms .main .pagibar .item:nth-child(3):hover {
  background-color: #d6d6d6; }
#ek .container .content .home .aside,
#ek .container .content .section .aside,
#ek .container .content .single .aside,
#ek .container .content .terms .aside {
  order: 2;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
#ek .container .content .home .aside:last-child,
#ek .container .content .section .aside:last-child,
#ek .container .content .single .aside:last-child,
#ek .container .content .terms .aside:last-child {
  margin-right: 0; }
@media screen and (max-width: 767px) {
  #ek .container .content .home .aside,
  #ek .container .content .section .aside,
  #ek .container .content .single .aside,
  #ek .container .content .terms .aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  #ek .container .content .home .aside:last-child,
  #ek .container .content .section .aside:last-child,
  #ek .container .content .single .aside:last-child,
  #ek .container .content .terms .aside:last-child {
    margin-right: 0; } }
#ek .container .footer {
  order: 3;
  max-height: 2.5em;
  padding: 0.5em 0; }
#ek .container .footer p {
  margin: 0; }

#ek .header {
  background-color: #000000; }
#ek .header a {
  color: #fffff0; }
#ek .footer {
  background-color: #000000;
  text-align: center;
  color: #eeeeee; }

.home .article,
.section .article,
.single .article,
.terms .article {
  margin-top: 0.15625em;
  margin-bottom: 0.15625em;
  margin-left: 0.3125em;
  margin-right: 0.3125em; }
.home .article:first-child,
.section .article:first-child,
.single .article:first-child,
.terms .article:first-child {
  margin-top: 0.3125em;
  margin-bottom: 0.15625em; }
.home .article:last-child,
.section .article:last-child,
.single .article:last-child,
.terms .article:last-child {
  margin-top: 0.15625em;
  margin-bottom: 0.3125em; }

.single .article {
  margin-top: 1em !important; }

.home .article,
.section .article,
.terms .article {
  border-top-left-radius: 0.125em;
  border-top-right-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
  border: 1px solid #eeeeee; }
.home .article:hover,
.section .article:hover,
.terms .article:hover {
  background-color: #eeeeee; }
.home .article a,
.section .article a,
.terms .article a {
  color: #666666;
  padding: 0; }
.home .article a:hover,
.section .article a:hover,
.terms .article a:hover {
  color: #333333;
  text-shadow: 0 0 0.3125em #fffff0; }
.home .article a:hover img,
.section .article a:hover img,
.terms .article a:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
.home .article img,
.section .article img,
.terms .article img {
  border-color: transparent; }
.home .article h2,
.section .article h2,
.terms .article h2 {
  margin-bottom: 0;
  padding: 0.15625em 0.3125em; }

.home .article a,
.section .article a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
.home .article a h2,
.section .article a h2 {
  margin: 0; }
@media screen and (max-width: 767px) {
  .home .article a,
  .section .article a {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; } }
.home .article .image,
.section .article .image {
  flex: 1;
  order: 1; }
.home .article .image > img,
.section .article .image > img {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%); }
.home .article .intro,
.section .article .intro {
  flex: 2;
  order: 2;
  vertical-align: middle;
  padding-left: 0.125em;
  padding-right: 0.125em; }

.terms .main-wrapper {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
.terms .main-wrapper .article a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 0.125em; }
.terms .main-wrapper .article a h2 {
  margin: 0; }
.terms .main-wrapper .article .intro {
  flex: 2;
  order: 2;
  vertical-align: middle;
  padding-left: 0.125em;
  padding-right: 0.125em; }

.aside img {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.125em;
  margin-bottom: 0.125em; }
.aside h2 {
  border-top: 0.125em solid #666666;
  border-bottom: 0.125em solid #666666;
  padding: 0.125em 0.3125em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  color: #666666; }
@media screen and (max-width: 767px) {
  .aside h2 {
    font-size: 1.2em; } }
.aside h3 {
  color: #666666;
  background-color: #eeeeee;
  padding: 0.3125em 0.4375em;
  margin-top: 0.125em;
  margin-bottom: 0.125em; }
@media screen and (max-width: 767px) {
  .aside h3 {
    font-size: 1em; } }
@media screen and (max-width: 767px) {
  .aside h3 {
    padding: 0.625em 0.625em; } }
.aside h3:hover {
  color: #333333;
  background-color: #d6d6d6;
  text-shadow: 0 0 0.3125em #fffff0; }
.aside .widget img {
  width: 100%; }

.meta {
  text-align: center !important; }
.meta .author,
.meta .date,
.meta .section,
.meta .topic {
  font-weight: bold;
  text-transform: capitalize; }
.meta label {
  text-transform: capitalize; }

.tags,
.category,
.fb,
.comments {
  margin: 1em 0 !important; }

.banner img {
  display: inline-flex; }

blockquote {
  border-left: 0.125em solid #eee !important; }

.topbar {
  max-width: 64em;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
.topbar ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0; }
.topbar ul ul {
  display: none; }
.topbar ul li:hover ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #000000; }
.topbar ul a {
  padding: 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
.topbar ul a:hover {
  background-color: #4d4d4d; }
.topbar ul a i {
  padding: 0 0.25em; }
.topbar ul a .fa-home {
  padding: 0.25em 0.5em; }
@media screen and (max-width: 767px) {
  .topbar li#home,
  .topbar li#about {
    display: none !important; } }

.pagibar {
  margin: 0.125em;
  background-color: #eeeeee; }
.pagibar .item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
.pagibar .item p {
  padding: 0;
  margin: 0; }
.pagibar .item.disable {
  background-color: #eeeeee !important; }
.pagibar .item.disable a {
  color: #cccccc;
  cursor: default; }
.pagibar a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  color: #666666; }
.pagibar a:hover {
  color: #333333; }

/*# sourceMappingURL=style.css.map */
